<div class="information">
    <p class="title">Information</p>
    <h3>How the app works</h3>
    <p>This application is designed to help a user improve their typing speed and consistency through learning and focusing in on mistakes they make when typing.</p>
    <p>Simply create an account and perform typing tests by typing into the large input box (pressing space after each word) and restart after completion. Over time the application will have collected enough data to give an assessment of your ability and suggest words to challenge you based off of generated 'focus-sets'</p>
    <p>'focus-sets' are the character combinations the application has identified through the use of Markov Transition Matrices that the user struggles with typing the most, i.e. character combinations the user commonly spells wrong.</p>
    <p>You can have multiple accounts saved locally through use of the create account button (note that the account is not saved until a test is completed).</p>
    <p>Save files can be located in the '~/Documents/AdaptiveTyping' directory.</p>
    <p>You may adjust the length of the typing test each time by changing the intger for 'word-count' and clicking the 'restart' button.</p>
    <p>For the statistics page, CPM (characters per minute) and WPM (words per minute) are used to represent your current typing speed. They are both calculated by taking the words or characters typed a minute and dividing it by the timeTaken/60seconds.</p>

    <h3>How to improve your typing</h3>
    <p>The best approach to typing would be touch-typing. This is where you navigate the keyboard through the use of home keys (the 'f' and 'j' keys with bumps on) whilst looking at the screen instead of the keyboard.</p>
    <p>For a qwerty keyboard, the suggested initial finger position would be having your index finger of each hand on the 'f' and 'j' keys respectively and the remaining fingers of each hand on the adjacent keys, with thumbs resting on the spacebar.</p>
    <p>Now, from here when you go to type something each finger should be responsible for the keys nearest to each one. For example, hitting the 'u' key should be done by the index finger on your right hand since it is nearest to 'j'.</p>
    <p>From here you just need to practice, which is what this application aims to assist with. There is an on-screen keyboard for a visual aid to help you get used to not looking at your physical keyboard and the word-sets will be designed to challenge you on your weakest areas of typing.</p>
</div>