.test-word {
    color: white;
    display: inline-block;
    padding: 0.5em;
}

.test-restart-button {
    height: 2.5em;
}

.test-restart {
    align-self: flex-end;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.test-input {
    width: 100%;
    height: 2em;
}

.test-inputs {
    padding: 0.5em;
    display: flex;
    height: 3em;
    flex-direction: row;
    padding-top: 1.3em;
}

.test-words {
    width: 100%;
    align-self: center;
    background-color: rgb(82, 82, 82);
}

.round-corners {
    border-radius: 0.5em;
}

.test-area {
    display: flex;
    margin: auto;
    margin-top: 10em;
    width: 65%;
    flex-direction: column;
    border-radius: 0.5em;
}

.test-stats {
    color: white;
}

.current-focus {
    padding: 0.5em;
    color: white;
    width: auto;
}

.test-length {
    padding: 0.5em;
    color: white;
}

input[type='number'] {
    width: 4em;
}

.test-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.keyboard {
    margin: auto;
    width: 65%;
}

.top-panel, .test-stats, .user-controls {
    padding: 0.5em;
}