<div class="top-panel">
    <div class="test-stats">time elapsed: {{time}} | cpm: {{calculateCpm()}} | wpm: {{calculateWpm()}}</div>
    <div class="user-controls">
        <select class="options" *ngIf="users.length !== 0" [(ngModel)]="currentUser" (change)="changeUser()">
            <option *ngFor="let user of users" [value]="user">{{user}}</option>
        </select>
        <button *ngIf="!displayCreateOptions" class="create-account-button" (click)="toggleCreateAccount()">Create New
            Account</button>
        <button *ngIf="displayCreateOptions" class="create-account-button" (click)="toggleCreateAccount()">Cancel</button>
        <div *ngIf="displayCreateOptions">
            <input type="text" mdInput [(ngModel)]="newUserName" />
            <button class="create-account-button" (click)="createAccount()">Create</button>
        </div>
    </div>
</div>
<div class="test-area">
    <div *ngIf="users.length !== 0">
        <div class="test-control">
            <div class="current-focus">
                focus-set: {{formatFocusSet()}}
            </div>
            <div class="test-length">
                word-count: 
                <input [(ngModel)]="wordCount" class="test-length-input" type="number" name="test-length" id="test-length" size="1">
            </div>
        </div>
        <div class="test-words round-corners">
            <div class="test-word" *ngFor="let word of wordset; let i = index" attr.id="{{i}}"
                [style.color]="getColour(i)">
                {{word}}
            </div>
        </div>
    </div>
    <div class="test-inputs">
        <input type="text" mdInput [(ngModel)]="inputWord" class="test-input" (keydown.Space)="onSpace()"
            (keydown)="onKey()">
        <!-- Consider looking into replacing this button with a UI library -->
        <button class="test-restart-button" (click)="refreshWordset()">Restart</button>
    </div>
</div>
<div class="keyboard">
    <div class="simple-keyboard"></div>
</div>